* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  font-weight: 400;
}

:root {
  font-size: 10px;
}

body {
  position: relative;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: absolute;
  top: 60px;
}
.header .logo {
  display: flex;
  flex-direction: column;
}
.header .logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 120%;
  letter-spacing: 0.192rem;
  color: #F1CDB3;
}
.header .logo__subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  line-height: 1.495rem;
  letter-spacing: 0.13rem;
  padding-left: 0.3rem;
  color: #fff;
  margin-top: 0.7rem;
  text-align: center;
}
.header .menu {
  display: flex;
  width: 443px;
}
.header .menu .list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}
.header .menu .list__item {
  display: flex;
  align-items: center;
}
.header .menu .list__item .list__link {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
}
.header .menu .list__item .list__link_disabled {
  color: #cdcdcd;
}
.header .menu .list__item .list__link_active {
  border-bottom: solid 3px #F1CDB3;
  letter-spacing: -0.0001rem;
}

.main {
  display: flex;
  flex-direction: column;
}
.main .hero {
  display: flex;
  padding-top: 18rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.main .hero__content {
  display: flex;
}
.main .hero__image {
  width: 698px;
  height: 728px;
  margin-left: 42px;
}
.main .hero .content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8.1rem;
}
.main .hero .content-section__title {
  max-width: 31rem;
  color: #fff;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}
.main .hero .content-section__subtitle {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
  margin-top: 4.2rem;
  margin-bottom: 4.2rem;
  max-width: 46rem;
}
.main .hero .content-section__button {
  border-radius: 10rem;
  box-sizing: border-box;
  padding: 1.5rem 4.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #F1CDB3;
  padding: 1.5rem 1.5rem;
  width: 207px;
  color: #292929;
}
.main .hero .content-section__button:hover {
  transition-duration: 0.3s;
  background-color: #FDDCC4;
}
.main .hero .content-section__button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}
.main .about {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 10rem;
}
.main .about__image-wrapper {
  display: flex;
  margin-right: 12rem;
}
.main .about__image {
  width: 100%;
}
.main .about__content {
  display: flex;
  flex-direction: column;
  max-width: 43rem;
  padding-top: 1.3rem;
}
.main .about__content .about__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  max-width: 37rem;
  line-height: 132%;
}
.main .about__content .about__description p {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  margin-top: 2.5rem;
}
.main .pets {
  background-color: #f6f6f6;
}
.main .pets__wrapper {
  padding-top: 8.1rem;
  padding-bottom: 9.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .pets__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  text-align: center;
  padding-left: 2px;
}
.main .pets__title span {
  display: block;
  letter-spacing: 0.209rem;
}
.main .pets__slider {
  display: flex;
  margin: 6rem 0 6.2rem 0;
  width: 100%;
  align-items: center;
}
.main .pets__slider .pets__cards {
  width: 100%;
  max-width: 99rem;
  margin: 0 5.5rem;
  display: flex;
  justify-content: space-between;
}
.main .pets__slider .pets__cards .pet__card {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
}
.main .pets__slider .pets__cards .pet__card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition-duration: 0.3s;
}
.main .pets__slider .pets__cards .pet__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
}
.main .pets__slider .pets__cards .pet__card_button {
  border-radius: 10rem;
  box-sizing: border-box;
  padding: 1.5rem 4.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1.4rem 4.2rem;
  background-color: transparent;
  box-shadow: 0 0 0 2px #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  padding: 1.4rem 4.5rem;
  letter-spacing: 0.1rem;
  color: #292929;
  margin: 0 auto;
}
.main .pets__slider .pets__cards .pet__card_button:hover {
  transition-duration: 0.3s;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
.main .pets__slider .pets__cards .pet__card-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-align: center;
  margin: 3rem 0;
}
.main .pets__slider .slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px #F1CDB3;
  background-color: transparent;
  width: 4.6rem;
  height: 4.6rem;
  margin-left: 0.3rem;
}
.main .pets__slider .slider__button:hover {
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
  background-color: #FDDCC4;
}
.main .pets__slider .slider__button .arrow__right {
  transform: rotate(180deg);
}
.main .pets .pets__button {
  border-radius: 10rem;
  box-sizing: border-box;
  padding: 1.5rem 4.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #F1CDB3;
  letter-spacing: 0.1rem;
}
.main .pets .pets__button:hover {
  transition-duration: 0.3s;
  background-color: #FDDCC4;
}
.main .help {
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.main .help-wrapper {
  flex-direction: column;
}
.main .help-wrapper .help__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  text-align: center;
}
.main .help-wrapper .help__title span {
  display: block;
}
.main .help-wrapper .help-list {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 12rem;
  row-gap: 5.5rem;
}
.main .help-wrapper .help-element {
  display: flex;
  flex-direction: column;
}
.main .help-wrapper .help-element-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  line-height: 120%;
  letter-spacing: 0.108rem;
  margin-top: 3rem;
  color: #545454;
  text-align: center;
}
.main .donate {
  padding-top: 8rem;
  padding-bottom: 10.1rem;
  background-color: #f6f6f6;
}
.main .donate-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .donate-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .donate-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
  max-width: 38rem;
}
.main .donate-content h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  margin: 2rem 0;
}
.main .donate-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}
.main .donate-title span {
  display: block;
}
.main .donate .credit-card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 0.9rem;
  background-color: #F1CDB3;
  padding: 1rem 1.5rem;
  max-width: 35rem;
}
.main .donate .credit-card-wrapper a {
  text-decoration: none;
  color: #545454;
}
.main .donate h4 {
  display: flex;
  flex-direction: row;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}
.main .donate .credit-card-text-image {
  padding-right: 1.5rem;
}
.main .donate .donate-description {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

footer {
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 5.6rem;
}
footer .footer-wrapper {
  display: flex;
  flex-direction: row;
}
footer .footer-wrapper h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #fff;
}
footer .footer-wrapper h3 span {
  display: block;
}
footer .footer-wrapper .row {
  margin-top: 4.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-wrapper .row span, footer .footer-wrapper .row a {
  text-decoration: none;
  margin-left: 2rem;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}
footer .footer-wrapper .second-column {
  max-width: 30rem;
}
footer .footer-wrapper .third-column {
  margin-top: -1.7rem;
}
footer .footer-wrapper .phone {
  margin-top: 4.4rem;
}
footer .footer-wrapper .address {
  margin-top: 3.4rem;
}
footer .footer-wrapper .address-second {
  margin-top: 3.2rem;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    max-width: 70.8rem;
  }

  .header {
    top: 3rem;
  }

  .main .hero__content {
    flex-direction: column;
    align-items: center;
  }
  .main .hero .content-section__button {
    margin: 0 auto;
  }
  .main .about .wrapper {
    flex-direction: column-reverse;
  }
  .main .about__image-wrapper {
    margin-top: 8rem;
    margin-right: 0;
  }
  .main .pets .pets__cards {
    max-width: 58rem;
    margin: 0 1rem;
  }
  .main .pets .pet__card:nth-child(3) {
    display: none;
  }
  .main .pets .slider__button {
    margin-left: 0;
  }
  .main .donate-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .main .donate-content {
    margin-left: 0;
    max-width: 38rem;
  }
  .main .donate-image-wrapper {
    margin-top: 6rem;
  }

  footer .footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70.8rem;
  }
  footer .footer-wrapper .third-column {
    padding-top: 6.5rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .header {
    top: 3rem;
  }
}