@import './colors.scss';
@import './mixins-fonts';
@import './buttons';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-weight: 400;
}
:root{
    font-size: 10px;
}
body{
    position: relative;
}
.wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    justify-content: space-between;
}
.header{
    width: 100%;
    position: absolute;
    top: 60px;

    .logo{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &__title{
            @include logo-title;
            color: $color-primary;
        }
        &__subtitle{
            @include logo-subtitle;
            color: $color-light-xl;
            margin-top: 0.7rem;
            text-align: center;
        }
    }
    .menu{
        display: flex;
        width: 443px;
        #menu__toggle{
            display: none;
        }
        .list{
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style-type: none;

            &__item{
                display: flex;
                align-items: center;

                .list__link{
                    @include paragraph-l;
                    color: $color-light-l;
                    text-decoration: none;
                    color: $color-dark-s;
                    &:hover{
                        color: $color-light-s;
                    }
                    &_active{
                        color: $color-light-s;
                        border-bottom: solid 3px $color-primary;
                        letter-spacing: -0.0001rem;
                    }
                    &_disabled{
                        &:hover{
                            color: $color-dark-s;
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}
.main{
    display: flex;
    flex-direction: column;

    .hero{
        display: flex;
        padding-top: 18rem;
        background: $start-screen-gradient-background;

        &__content{
            display: flex;
        }

        &__image{
            width: 698px;
            height: 728px;
            margin-left: 42px;
        }

        .content-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 8.1rem;

            &__title{
                max-width: 31rem;
                color: $color-light-xl;
                @include h2;
                span{
                    display: block;
                }
            }

            &__subtitle{
                @include paragraph-l;
                color: $color-dark-s;
                margin-top: 4.2rem;
                margin-bottom: 4.2rem;
                max-width: 46rem;
            }

            &__button{
                @include button_primary;
                padding: 1.5rem 1.5rem;
                width: 207px;
                color: $color-dark-3xl;
                text-decoration: none;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background-color: $color-primary-light;
                }
            }
        }
    }

    .about{
        display: flex;
        padding-top:8rem;
        padding-bottom:10rem;

        &__image-wrapper{
            display: flex;
            margin-right: 12rem;
        }
        &__image{
            width: 100%;
        }

        &__content{
            display: flex;
            flex-direction: column;
            max-width: 43rem;
            padding-top: 1.3rem;
            text-align: center;
            .about__title{
                @include h3;
                color: $color-dark-l;
                max-width: 37rem;
                line-height: 132%;
                span{
                    display: block;
                }
            }
            .about__description{
                p{
                    @include paragraph-l;
                    color: $color-dark-xl;
                    margin-top: 2.5rem;
                    text-align: left;
                }
            }
        }
    }

    .pets{
        background-color: $color-light-l;
        &__wrapper{
            padding-top: 8.1rem;
            padding-bottom: 9.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .bottom-arrows{
                display: none;
            }
        }
        &__title{
            @include h3;
            color: $color-dark-l;
            text-align: center;
            padding-left: 2px;
            span{
                display: block;
                letter-spacing: 0.209rem;
            }
        }
        &__slider{
            display: flex;
            margin: 6rem 0 6.2rem 0;
            width: 100%;
            align-items: center;

            .pets__cards{
                width: 100%;
                max-width: 99rem;
                margin: 0 5.5rem;
                display: flex;
                justify-content: space-between;
                .pet__card{
                    background-color: $color-pet-card;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0.9rem;
                    &:hover{
                        cursor: pointer;
                        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                        transition-duration: 0.3s;
                    }
                    &-content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 3rem;
                        padding-left: 0.5rem;
                    }
                    &_button{
                        @include button_secondary;
                        @include font-secondary-button;
                        padding: 1.4rem 4.5rem;
                        letter-spacing: 0.1rem;
                        color: $color-dark-3xl;
                        margin: 0 auto;
                    }
                    &-title{
                        @include h4;
                        text-align: center;
                        margin: 3rem 0;
                    }
                }
            }
        }
        .slider__button{
            @include round-button-primary;
            width: 4.6rem;
            height: 4.6rem;
            margin-left: 0.3rem;
            .arrow__right{
                transform: rotate(180deg);
            }
        }
        .pets__button{
            @include button_primary;
            letter-spacing: 0.1rem;
            text-decoration: none;
            text-align: center;
            color: $color-dark-3xl;
            &:visited{
                color: $color-dark-3xl;
            }
        }
    }
    .help{
        margin-top: 8rem;
        margin-bottom: 10rem;
        &-wrapper{
            flex-direction: column;
            .help__title{
                @include h3;
                color: $color-dark-l;
                text-align: center;
                span{
                    display: block;
                    //letter-spacing: 0.209rem;
                }
            }
            .help-list{
                margin-top: 6rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                column-gap: 12rem;
                row-gap: 5.5rem;
            }
            .help-element{
                display: flex;
                flex-direction: column;

                &-text{
                    @include h4;
                    line-height: 120%;
                    letter-spacing: 0.108rem;
                    margin-top: 3rem;
                    color: $color-dark-l;
                    text-align: center;
                }
            }
        }
    }
    .donate{
        padding-top: 8rem;
        padding-bottom: 10.1rem;
        background-color: $color-light-l;
        &-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &-image-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 3rem;
            max-width: 38rem;
            h5{
                @include h5;
                margin: 2rem 0;
            }
        }
        &-title{
            @include h3;
            color: $color-dark-l;
            span{
                display: block;
                //letter-spacing: 0.209rem;
            }
        }
        .credit-card-wrapper{
            margin-bottom: 2rem;
            display: flex;
            border-radius: 0.9rem;
            background-color: $color-primary;
            padding: 1rem 1.5rem;
            max-width: 35rem;
            a{
                text-decoration: none;
                color: $color-dark-l;
                &:hover{
                    color: $color-light-l;
                }
            }
        }
        h4{
            display: flex;
            flex-direction: row;
            @include h4;
        }
        .credit-card-text-image{
            padding-right: 1.5rem;
        }
        .donate-description{
            @include donation-description;
            color: $color-dark-m;
        }

    }
}
footer{
    background: $start-screen-gradient-background;
    padding-top: 5.6rem;
    .footer-wrapper{
        display: flex;
        flex-direction: row;
        h3{
            @include h3;
            color: $color-light-xl;
            span{
                display: block;
            }
        }
        .row{
            margin-top: 4.2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            &:visited{
                text-decoration: none;
            }
            span, a{
                text-decoration: none;
                margin-left: 2rem;
                color: $color-primary;
                @include h4;
            }
            img{
                min-width: 2.2rem;
            }
        }
        .second-column{
            max-width: 30rem;
        }
        .third-column{
            margin-top: -1.7rem;
        }
        .phone{
            margin-top: 4.4rem;
        }
        .address{
            margin-top: 3.4rem;
            justify-content: space-between !important;
        }
        .address-second{
            margin-top: 3.2rem;
            justify-content: space-between !important;
        }
    }
}

@media screen and (max-width: 1279px){
    .wrapper{
        max-width: 70.8rem;
    }
    .header{
        top: 3rem;
    }
    .main{
        .hero{
            &__content {
                flex-direction: column;
                align-items: center;
            }
            .content-section__button{
                margin: 0 auto;
            }
        }
        .about{
            .wrapper{
                flex-direction: column-reverse;
            }
            &__image-wrapper{
                margin-top: 8rem;
                margin-right: 0;
            }
        }
        .pets{
            .bottom-arrows{
                display: none;
            }
            .pets__cards{
                max-width: 58rem;
                margin: 0 1rem;
            }
            .pet__card:nth-child(3){
                display:none;
            }
            .slider__button{
                margin-left: 0;
            }
        }
        .donate{
            &-wrapper{
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
            }
            &-content{
                margin-left: 0;
                max-width: 38rem;
            }
            &-image-wrapper{
                margin-top: 6rem;
            }
        }
    }
    footer{
        .footer-wrapper{
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 70.8rem;
            .third-column{
                padding-top: 6.5rem;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 767px){
    .wrapper {
        max-width: 30rem;
    }
    .header{
        top: 0;
        .logo{
            margin-top: 3rem;
        }
        .menu{
            position: relative;
            width: auto;
            .list{
                transition-duration: .25s;
                visibility: hidden;
            }
            #menu__toggle {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
            }
            .menu__btn {
                display: flex;
                align-items: center;
                position: absolute;
                top: 5.1rem;
                right: 5.3rem;
                width: 3rem;
                height: 2.2rem;
                cursor: pointer;
            }
            .menu__btn > span,
            .menu__btn > span::before,
            .menu__btn > span::after {
                transition-duration: .25s;
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color-primary;
            }
            .menu__btn > span::before {
                content: '';
                top: -8px;
            }
            .menu__btn > span::after {
                content: '';
                top: 8px;
            }
            .list{
                display: none;
                position: fixed;
                flex-direction: column;
                width: 32rem;
                right: 0;
                top: 0;
                background-color: $color-dark-3xl;
                height: 100vh;
            }
            #menu__toggle:checked ~ .menu__btn > span {
                transform: rotate(90deg);
            }
            #menu__toggle:checked ~ .menu__btn > span::before {
                top: -0.8rem;
                transform: rotate(0);
            }
            #menu__toggle:checked ~ .menu__btn > span::after {
                top: 0.8rem;
                transform: rotate(0);
            }
            #menu__toggle:checked ~ .list {
                visibility: visible;
                right: 0;
            }
            .list__item {
                transition-duration: .25s;
            }
        }
    }
    .main{
        .hero{
            .content-section{
                align-items: center;
                text-align: center;
                &__title{
                    @include h3-mobile;
                    color: $color-light-xl;
                }
            }
            &__image{
                height: auto;
                margin: 0 auto;
                width: 100%;
            }
        }
        .about{
            &__content{
                .about__title{
                    @include h3-mobile;
                }
                .about__description p{
                    text-align: justify;
                }
            }
        }
        .pets{
            &__title{
                @include h3-mobile;
                span{
                    letter-spacing: 0.109rem;
                }
            }
            &__slider{
                margin-bottom: 2rem;
                .slider__button{
                    display: none;
                }
                .pet__card:nth-child(2){
                    display: none;
                }
            }
            .bottom-arrows{
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-bottom: 4.2rem;
            }
        }
        .help{
            margin: 4.2rem 0;
            &-wrapper{
                .help__title{
                    @include h3-mobile;
                }
                .help-list{
                    display: grid;
                    column-count: 2;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 3rem;
                    justify-content: space-between;
                    column-gap: 0;
                }
                .help-element-text{
                    @include h5;
                }
            }
        }
        .donate{
            padding: 4.2rem 0;
            .donate-title{
                @include h3-mobile;
                text-align: center;
                align-self: center;
            }
            &-description{
                h5{
                    font: {
                        family: Georgia;
                        style: normal;
                        weight: normal;
                        size: 1.5rem;
                    }
                    line-height: 160%;
                    letter-spacing: 0;
                    color: $color-dark-l
                }
            }
            .credit-card-wrapper{
                max-width: 100%;
                padding: 1rem 1rem;
                .credit-card-text-image {
                    padding-right: 0;
                    margin-right: 1.5rem;
                    width: 3rem;
                }
                a{
                    font-size: 1.5rem;
                    letter-spacing: 0.08rem;
                }
            }
            &-image{
                max-width: 100%;
            }
            &-description{
                text-align: justify;
            }
            &-image-wrapper{
                margin-top: 4.2rem;
            }
        }
    }
    footer{
        .footer-wrapper{
            max-width: 30rem;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
            h3{
                @include h3-mobile;
            }
            .row{
                justify-content: center;
            }
            .second-column{
                margin-top: 4rem;
                min-width: 100%;
            }
        }
    }
}