:root{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: linear-gradient(to right bottom, #ad5389, #3c1053);
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    &__caption{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .statistics{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.6rem;
        margin-top: 1.5rem;
        &__left-side, &__right-side{
            width: 10rem;
        }
        .time{
            display: flex;
            justify-content: space-between;
            &__timer{
                margin-left: 1rem;
                &--colon{
                    -webkit-animation: blink 1s linear infinite;
                    animation: blink 1s linear infinite;
                }
            }
        }
        .moves{
            display: flex;
            justify-content: space-between;
        }
        .score{
            display: flex;
            justify-content: space-between;
        }
    }
}

.main{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    .container{
        display: flex;
        .board{
            display: flex;
            flex-direction: column;
            border-radius: 1.5rem;
            &__row{
                display: flex;
                flex-direction: row;
            }
            &__cell{
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                width: 5rem;
                height: 5rem;
                margin: 0.1rem;
                background-color: rgba(187, 232, 250, 0.6);
                font-size: 3rem;
                border-radius: 0.5rem;
                border: 2px solid #000;
                cursor: default;
                user-select: none;
                -webkit-transition: 0.25s left, 0.25s top;
                transition: 0.25s left, 0.25s top;
                font-size: 0;
                &:hover{
                    font-size: 3rem;
                    -webkit-text-stroke-color: wheat;
                    -webkit-text-stroke-width: 1px;
                }
                &--disabled{
                    position: relative;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
                &--active{
                    position: relative;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(187, 232, 250, 0.8);
                    }
                }
                &--img{
                    width: 90%;
                }
            }
        }
    }
}

.footer{
    &__container{
    }
}


.field__list{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    &--element{
        list-style: none;
        margin-left: 1rem;
    }
    &--btn{
        border: 2px solid #ad5389;
        border-radius: 1.5rem;
        padding: 0.5rem 1.5rem;
        background-color: rgba(187, 232, 250, 0.4);
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: rgba(187, 232, 250, 1);
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    margin: 0;
    padding: 0;
    &__window{
        position: relative;
        width: auto;
        margin-top: 10rem;
        &--container{
            font-size: 1.5rem;
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            background-clip: padding-box;
            border: .1rem solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;
            max-width: 52rem;
            margin: 0 auto;
        }
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem;
            border-bottom: .1rem solid #eceeef;
            &--caption{
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.5;
                font-size: 1.8rem;
                font-weight: 500;
            }
            &--close{
                float: right;
                font-size: 3rem;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                opacity: .5;
                text-decoration: none;
                &:focus, &:hover {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                    opacity: .75;
                }
            }
        }
        &__body{
            position: relative;
            flex: 1 1 auto;
            padding: 15px;
            overflow: auto;
        }
        &__footer{
            position: relative;
            flex: 1 1 auto;
            padding: 15px;
            overflow: auto;
            display: flex;
            justify-content: space-around;
            &__btn{
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem;
                outline:none;
                cursor: pointer;
                opacity: 0.7;
                border: 2px solid #222;
                font-weight: 900;
                &:hover{
                    opacity: 1;
                }
            }
            .confirm{
                background-color: #28a745;
            }
            .dismiss{
                background-color: #dc3545;
            }
        }
    }
}

.record{
    &__table{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        font-size: 3.2rem;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 2rem;
        flex-direction: column;
        &--header{
            width: 100%;
            background-color: #3cae4f;
            display: flex;
            justify-content: space-between;
        }
        &--cell{
            width: 50%;
            padding: 0 2rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &--list{
            width: 100%;
            overflow-y: scroll;
            max-height: 310px;
        }
        &--row{
            display: flex;
        }
        &--row:nth-child(odd) {
            background-color: #d7d8da;
        }
        &--row:nth-child(even) {
            background-color: #cfd3d2;
        }
    }
}

@media screen and (max-width: 480px){
    :root{
        font-size: 6px;
    }
    .field__list{
        &--element{
            margin-left: 0.4rem;
        }
        &--btn{
            padding: 0.5rem
        }
    }
}

@-webkit-keyframes blink {
50% { color: rgb(34, 34, 34); }
51% { color: rgba(34, 34, 34, 0); }
100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
50% { color: rgb(34, 34, 34); }
51% { color: rgba(34, 34, 34, 0); }
100% { color: rgba(34, 34, 34, 0); }
}