$color-violet: #882FF6;
$color-red: #ff5994;
$color-dark-red: #9f0606;
$color-orange: #F99D07;
$color-light-orange: #ff9668;
$color-yellow: #F9E104;
$color-light-yellow: #edff8f;
$color-green: #35D461;
$color-dark-green: #009879;
$color-light-green: #84ff9f;
$color-light-blue: #82b6ff;
$color-blue: #37B6F6;
