@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

::-webkit-scrollbar { width: 0 !important }

:root{
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.container{
  display: flex;
  max-width: 128rem;
  margin: 0 auto;
}

.overlay{
  display: none;
  transition: 0.3s ease-in-out;
  &.show{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
  }
}

.header{
  font-family: 'Chicle', cursive;
  background-color: mediumseagreen;

  .container{
    align-items: center;
    justify-content: space-around;
    .burger{
      display: inline-block;
      cursor: pointer;
      position: relative;
      z-index: 2;
      .bar1, .bar2, .bar3 {
        width: 3.5rem;
        height: 0.5rem;
        background-color: #333;
        margin: 0.6rem 0;
        transition: 0.4s;
      }
      &__active{.bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-9px, 6px) ;
        }.bar2 {
          opacity: 0;
        }.bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-8px, -8px) ;
        }
      }
    }
    .header-caption{
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-size: 4rem;
      cursor: pointer;
    }

    input[type="checkbox"] {
      display: none;
    }
    #button{
      width: 18rem;
      height: 10rem;
      background-color: #000;
      border-radius: 5.5rem;
      cursor: pointer;
      transform: scale(0.4);
    }
    #knob {
      width: 8.5rem;
      height: 8.5rem;
      position: relative;
      top: 0.8rem;
      left: 0.5rem;
      border-radius: 5rem;
      transition: 0.4s ease left, 0.4s ease background-position;
      z-index: 2;
      background-color: blueviolet;
    }
    #play, #train {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 3.5rem;
      font-weight: bold;
      margin-left: 1.5rem;
      z-index: 1;
      letter-spacing: 0.2rem;
    }

    #train {
      right: 1rem;
    }

    #lol-checkbox:checked + #button #knob {
      left: 8.5rem;
    }
  }
}

.left-menu{
  width: 32rem;
  position: absolute;
  background: linear-gradient(to left, mediumseagreen, #9198e5);
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
  height: 100%;
  &.opened{
    left: 0;
  }
  &.closed{
    left: -32rem;
  }
  .menu{
    padding: 5rem 5rem;
    margin-top: 5rem;
    &-link{
      list-style-type: none;
      text-decoration: none;
      font-size: 2rem;
      color: wheat;
      padding: 0.5rem 2rem;
      &.active{
        border: 2px solid darkviolet;
        border-radius: 2rem;
        background-color: violet;
      }
      &:hover{
        border: 2px solid darkviolet;
        border-radius: 2rem;
        background-color: palevioletred;
        cursor: pointer;
      }
    }
  }
}

.main{
  padding: 3rem 0;
  .container{
    flex-wrap: wrap;
    justify-content: center;
    
    .hidden{
      opacity: 0;
    }

    .rating {
      min-height: 3rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
      .fas.fa-star {
        color: #ffd700;
        text-shadow: 2px 2px #b8860b;
      }
    }

    .description{
      width: 100%;
      position: relative;
      text-align: center;
      &-text{
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 800;
      }
    }
    .card-container{
      margin: 2rem;
      width: 25rem;
      display: flex;
      flex-direction: column;
      transition: 0.5s ease-in-out;
      box-shadow: 0 1.5rem 3rem -1rem black;
      border-radius: 1.5rem;
      &:hover{
        transform: translateY(1rem) translateX(0.3rem);
        box-shadow: 0.5rem 0.6rem 1.7rem darkgray;
        cursor: pointer;
      }
      .card-image{
        text-align: center;
        background-color: cornflowerblue;
        border-radius: 1.7rem 1.7rem 0 0;
        img{
          margin: 2rem 0;
          width: 23rem;
          border-radius: 30%;
        }
      }
    }
    .flip-card{
      margin: 2rem;
      width: 25rem;
      height: 26rem;
      cursor: pointer;
      &:hover{
        .flip-card__front, .flip-card__back {
          box-shadow: 0.5rem 0.6rem 1.7rem darkgray;
        }
      }
      &.small {
        height: 20rem;
      }
      &.flipped{
        .flip-card__container{
          transform: rotateY(180deg);
        }
      }
      &__container{
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        box-shadow: 0 1.5rem 3rem -1rem black;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        &.disabled {
          box-shadow: 0 0 black;
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      &__front, &__back{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        transition: all 0.8s;
        border-radius: 1.5rem;
      }
      &__back{
        transform: rotateY(180deg);
        backface-visibility: hidden;
      }
      .card-image{
        text-align: center;
        background-color: cornflowerblue;
        border-radius: 1.5rem 1.5rem 0 0;
        height: 20rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        &.round {
          border-radius: 1.5rem;
        }
      }
      .card-flip{
        width: 3rem;
        height: 3rem;
        background-color: deepskyblue;
        position: absolute;
        border-radius: 50% 0;
        bottom: 0;
        right: 0;
        border-top: 2px solid palevioletred;
        border-left: 2px solid palevioletred;
        border-right: none;
        border-bottom: none;
        outline:none;
        cursor: pointer;
        &:hover {
          .fa-redo-alt {
            transform: rotate(180deg);
          }
        }
        .fa-redo-alt {
          transition: transform .5s ease-in-out;
        }
      }
    }
    .panel {
      position: fixed;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      bottom: 0;
      background: linear-gradient(0deg, mediumseagreen, #9198e5);
      height: 6rem;
      min-width: 10rem;
      border: 2px solid rgb(34, 7, 7);
      border-bottom: none;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      transition: all 0.3s ease-in-out;
      &.off {
        bottom: -7rem;
      }
      .btn {
        cursor: pointer;
        min-width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        outline: none;
        padding: 0 2rem;
        margin: 1rem 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
        &.btn-start {
          background-color: blueviolet;
          color: wheat;
        }
        &.btn-repeat {
          background-color: deepskyblue;
        }
        .fas {
          padding-right: 1rem;
        }
      }
    }
  }
  .card-description{
    text-align: center;
    padding: 2.5rem 0;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .non-displayed {
    display: none !important;
  }
}

.footer{
  background-color: mediumseagreen;
  .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    padding: 2rem 0;
    font-size: 2rem;
    .link{
      list-style-type: none;
      .github-img{
        width: 5rem;
      }
      .rss-img{
        width: 10rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header{
    .container{
      .header-caption {
        font-size: 3rem;
        letter-spacing: 0.3rem;
      }
      #button{
        height: 7rem;
      }
      #knob{
        width: 7.5rem;
        height: 6.5rem;
        top: 0.2rem;
        left: 1rem;
      }
      #lol-checkbox:checked + #button #knob {
        left: 9.5rem;
      }
    }
  }
}