@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

:root{
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  max-width: 128rem;
  margin: 0 auto;
}

.header{
  font-family: 'Chicle', cursive;
  background-color: mediumseagreen;

  .container{
    align-items: center;
    justify-content: space-around;
    .burger{
      display: inline-block;
      cursor: pointer;
      .bar1, .bar2, .bar3 {
        width: 3.5rem;
        height: 0.5rem;
        background-color: #333;
        margin: 0.6rem 0;
        transition: 0.4s;
      }
      &__active{.bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-9px, 6px) ;
        }.bar2 {
          opacity: 0;
        }.bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-8px, -8px) ;
        }
      }
    }
    .header-caption{
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-size: 4rem;
    }

    input[type="checkbox"] {
      display: none;
    }
    #button{
      width: 18rem;
      height: 10rem;
      background-color: #000;
      border-radius: 5.5rem;
      cursor: pointer;
      transform: scale(0.4);
    }
    #knob {
      width: 8.5rem;
      height: 8.5rem;
      position: relative;
      top: 0.8rem;
      left: 0.5rem;
      border-radius: 5rem;
      transition: 0.4s ease left, 0.4s ease background-position;
      z-index: 2;
      background-color: blueviolet;
    }
    #play, #train {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 3.5rem;
      font-weight: bold;
      margin-left: 1.5rem;
      z-index: 1;
      letter-spacing: 0.2rem;
    }

    #train {
      right: 1rem;
    }

    #lol-checkbox:checked + #button #knob {
      left: 8.5rem;
    }
  }
}

.left-menu{
  width: 32rem;
  position: absolute;
  background-color: mediumseagreen;
  top: 10rem;
  transition: all 0.5s ease;
  z-index: 1;
  &.opened{
    left: 0;
  }
  &.closed{
    left: -32rem;
  }
  .menu{
    padding: 5rem 5rem;
    &-link{
      list-style-type: none;
      text-decoration: none;
      font-size: 2rem;
      color: wheat;
      padding: 0.5rem 2rem;
      &.active{
        border: 2px solid darkviolet;
        border-radius: 2rem;
        background-color: violet;
      }
      &:hover{
        border: 2px solid darkviolet;
        border-radius: 2rem;
        background-color: palevioletred;
        cursor: pointer;
      }
    }
  }
}

.main{
  padding: 3rem 0;
  .container{
    flex-wrap: wrap;
    justify-content: center;

    .description{
      width: 100%;
      position: relative;
      text-align: center;
      &-text{
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 800;
      }
    }

    .card-holder{
      position: relative;
      display: flex;
      flex-direction: column;
      .back{
        position: absolute;
        visibility: hidden;
      }
      .card-flip{
        width: 2rem;
        height: 2rem;
        background-color: deepskyblue;
        position: relative;
        border-radius: 50%;
        bottom: 1rem;
        right: -1rem;
        border: 2px solid palevioletred;
        outline:none;
        cursor: pointer;
      }
    }

    .card-container{
      margin: 2rem;
      width: 25rem;
      display: flex;
      flex-direction: column;
      transition: 0.5s ease-in-out;
      box-shadow: 0 1.5rem 3rem -1rem black;
      border-radius: 1.5rem;
      &:hover{
        transform: translateY(1rem) translateX(0.3rem);
        box-shadow: 0.5rem 0.6rem 1.7rem darkgray;
        cursor: pointer;
      }
      .card-image{
        text-align: center;
        background-color: cornflowerblue;
        border-radius: 1.7rem 1.7rem 0 0;
        img{
          margin: 2rem 0;
          width: 23rem;
          border-radius: 30%;
        }
      }
      .card-description{
        text-align: center;
        padding: 2.5rem 0;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

.footer{
  background-color: mediumseagreen;
  .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    padding: 2rem 0;
    font-size: 2rem;
    .link{
      list-style-type: none;
      .github-img{
        width: 5rem;
      }
      .rss-img{
        width: 10rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header{
    .container{
      .header-caption {
        font-size: 3rem;
        letter-spacing: 0.3rem;
      }
      #button{
        height: 7rem;
      }
      #knob{
        width: 7.5rem;
        height: 6.5rem;
        top: 0.2rem;
        left: 1rem;
      }
      #lol-checkbox:checked + #button #knob {
        left: 9.5rem;
      }
    }
  }
}