:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: linear-gradient(to right bottom, #ad5389, #3c1053);
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header__caption {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.header .statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
.header .statistics .time {
  display: flex;
  justify-content: space-between;
}
.header .statistics .time__timer {
  margin-left: 1rem;
}
.header .statistics .time__timer--colon {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
.header .statistics .moves {
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main .container {
  display: flex;
}
.main .container .board {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}
.main .container .board__row {
  display: flex;
  flex-direction: row;
}
.main .container .board__cell {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  background-color: rgba(187, 232, 250, 0.6);
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
}
.main .container .board__cell--img {
  width: 90%;
}

.field__list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}
.field__list--element {
  list-style: none;
  margin-left: 1rem;
}
.field__list--btn {
  border: 2px solid #ad5389;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: rgba(187, 232, 250, 0.4);
  cursor: pointer;
  outline: none;
}
.field__list--btn:hover {
  background-color: #bbe8fa;
}

@media screen and (max-width: 480px) {
  .field__list--element {
    margin-left: 0.4rem;
  }
  .field__list--btn {
    padding: 0.5rem;
  }
}
@-webkit-keyframes blink {
  50% {
    color: #222222;
  }
  51% {
    color: rgba(34, 34, 34, 0);
  }
  100% {
    color: rgba(34, 34, 34, 0);
  }
}
@keyframes blink {
  50% {
    color: #222222;
  }
  51% {
    color: rgba(34, 34, 34, 0);
  }
  100% {
    color: rgba(34, 34, 34, 0);
  }
}