:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: linear-gradient(to right bottom, #ad5389, #3c1053);
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header__caption {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.header .statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
.header .statistics .time {
  display: flex;
  justify-content: space-between;
}
.header .statistics .time__timer {
  margin-left: 1rem;
}
.header .statistics .time__timer--colon {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
.header .statistics .moves {
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main .container {
  display: flex;
}
.main .container .board {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}
.main .container .board__row {
  display: flex;
  flex-direction: row;
}
.main .container .board__cell {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin: 0.1rem;
  background-color: rgba(187, 232, 250, 0.6);
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
  cursor: default;
}
.main .container .board__cell--active {
  cursor: pointer;
}
.main .container .board__cell--active:hover {
  background-color: rgba(187, 232, 250, 0.8);
}
.main .container .board__cell--img {
  width: 90%;
}

.field__list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}
.field__list--element {
  list-style: none;
  margin-left: 1rem;
}
.field__list--btn {
  border: 2px solid #ad5389;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: rgba(187, 232, 250, 0.4);
  cursor: pointer;
  outline: none;
}
.field__list--btn:hover {
  background-color: #bbe8fa;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
}
.modal__window {
  position: relative;
  width: auto;
  margin-top: 10rem;
}
.modal__window--container {
  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  max-width: 52rem;
  margin: 0 auto;
}
.modal__window__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 0.1rem solid #eceeef;
}
.modal__window__header--caption {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 500;
}
.modal__window__header--close {
  float: right;
  font-size: 3rem;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
.modal__window__header--close:focus, .modal__window__header--close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
.modal__window__body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.modal__window__footer {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}
.modal__window__footer__btn {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  border: 2px solid #222;
  font-weight: 900;
}
.modal__window__footer__btn:hover {
  opacity: 1;
}
.modal__window__footer .confirm {
  background-color: #28a745;
}
.modal__window__footer .dismiss {
  background-color: #dc3545;
}

@media screen and (max-width: 480px) {
  .field__list--element {
    margin-left: 0.4rem;
  }
  .field__list--btn {
    padding: 0.5rem;
  }
}
@-webkit-keyframes blink {
  50% {
    color: #222222;
  }
  51% {
    color: rgba(34, 34, 34, 0);
  }
  100% {
    color: rgba(34, 34, 34, 0);
  }
}
@keyframes blink {
  50% {
    color: #222222;
  }
  51% {
    color: rgba(34, 34, 34, 0);
  }
  100% {
    color: rgba(34, 34, 34, 0);
  }
}